# Python temporary and cache files
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Local configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node and Vite build folders
node_modules/
dist/
dist-ssr/

# IDE files
.vscode/
.idea/

# Local media uploads folder
uploads/
/static/1.user_login.css
/static/1.user_login.html
/static/2.lawyer_reg.css
/static/2.lawyer_reg.html
/static/3.lawyer_dashboard.css
/static/3.lawyer_dashboard.html
/static/4.lawer_profile.css
/static/4.lawyer_profile.html
/static/5.view_profile.css
/static/5.view_profile.html
/static/6.clinentmg.css
/static/6.lawyer_clientmg.html
/static/7.1.lawyer_message.css
/static/7.1.lawyer_message.html
/static/7.lawyer_message.css
/static/7.lawyer_message.html
/static/8.lawyer_appointment.html
/static/8.lawyer_appoinyment.css
/static/9.manage_cases.css
/static/9.manage_cases.html
/static/api.json
/static/cappointment.html
/static/cappointments.css
/static/cappointments.html
/static/cbill.css
/static/cbill.html
/static/cdash.css
/static/cdash.html
/static/clawyers.css
/static/clawyers.html
/static/clawyersprofile.css
/static/clawyersprofile.html
/static/cmessage.css
/static/cmessage.html
/static/cprofile.css
/static/cprofile.html
/static/global.css
/static/hq720.jpg
/static/images (1).jpeg
/static/law.jpg
/static/sidebar.js

# SSH private keys
private_key.pem
